version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/" 
    schedule:
      interval: "weekly"
  - package-ecosystem: "bun"
    directory: "/web"
    schedule:
      interval: "weekly"
  - package-ecosystem: "uv"
    directory: "/server"
    schedule:
      interval: "weekly"
